* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(128, 98, 98);
}
main {
  background-color: aquamarine;
}
footer {
  background-color: brown;
}
